html {
    background: lightgray;
    width: 100%;
    display: flex;
    min-height: 100%;
}

body {
    min-height: 100%;
    min-width: 100%;
    margin-bottom: 0px;
}

#main {
    min-height: 100%;
    height: 100%;
    width: 100%;
    background: lightgray;
}

app-files, app-login, app-register, app-account {
    display: block;
    height: 100%;
    min-height: calc(100%-57px);
}

