<div class="modal-header bg-primary text-white">
  <h4 class="modal-title display-4" *ngIf="true">Edit info</h4>
</div>
<div class="modal-body">
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="employeeName" class="col-form-label">First name</label>
        <input type="text" 
              class="form-control" 
              id="firstName" 
              formControlName="firstName"
              placeholder="First name">                                
      </div>
      <div class="form-group col-md-12">
          <label for="employeeName" class="col-form-label">Last name</label>
          <input type="text" 
                class="form-control" 
                id="lastName" 
                formControlName="lastName"
                placeholder="Last name"> 
                                                                          
        </div>
        <div class="form-group col-md-12">
            <label for="employeeName" class="col-form-label">Email</label>
            <input type="email" 
                  class="form-control" 
                  id="username" 
                  formControlName="email"
                  placeholder="Email">
            <small class="text text-danger" *ngIf="userForm.get('email').errors && userForm.get('email').errors.emailTaken">
            Email already in use!
            </small>                                    
          </div>
          <div class="form-group col-md-12">
              <label for="employeeLastname" class="col-form-label">Password</label>
              <input type="password" 
                    class="form-control" 
                    id="password" 
                    formControlName="password"
                    placeholder="Password">
              <small class="text text-secondary">Set new password: (default is 123)</small>                                                       
            </div>
            
    </div>
</form>
</div>            
<div class="modal-footer">
<button type="button" class="btn btn-outline-danger" (click)="activeModal.close(false)">Cancel</button>
<button type="button" class="btn btn-outline-primary" (click)= "onSubmit()" [disabled]="userForm.get('email').errors && userForm.get('email').errors.emailTaken">Save</button>
</div>