
<div class="container bg-white" style="height:100%;">
  <h4 class="display-4">Files</h4>
  <p class="lead">You can find all your stored items here!</p>
  <div class="row pb-3">
    <div class="col">
      <button class="btn btn-outline-primary" (click)="openFileUploadModal()">
        New file
      </button>
    </div>
  </div>
  <app-table appRemoveHost [tableData]="tableData" (downloadEmitter)="callDownloadService($event)"></app-table>
</div>