<div class="table-responsive">
    <table class="table table-sm">
        <thead class="thead-dark">
          <tr>
            <th scope="col"> </th>
            <th scope="col">Name</th>
            <th scope="col">Upload date</th>
            <th scope="col">Size</th>
            <th scope="col">Download</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of tableData; let i = index;">
              <td class="d-flex justify-content-center"><img [src]="item.setImage()" alt="logo" height="30px"></td>
              <td>{{item.name}}</td>
              <td>{{item.uploadDate}}</td>
              <td>{{item.sizeInMb}}</td>
              <td>
                <button class="btn btn-sm btn-primary" (click)="download(item)">
                  Download
                </button>
              </td>
          </tr>
        </tbody>
      </table>
</div>