
<div class="container bg-white" style="height:100%;">
  <h4 class="display-4">Account</h4>
  <p class="lead">Manage your credentials here</p>
  <div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><img src="{{payload.gravatarUrl}}"/> </li>
      <li class="list-group-item">First name: {{payload.firstName}} </li>
      <li class="list-group-item">Last name: {{payload.lastName}}</li>
      <li class="list-group-item">Email : {{payload.email}}</li>
      <li class="list-group-item"><button class="btn btn-outline-secondary" (click)="openEditInfoModal()"> Edit info </button></li>
    </ul>
  </div>
</div>