<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
      <a class="navbar-brand" [routerLink]="['files']">
        <img src="../../../assets/images/cloud.png" alt="logo" style="width:30px;"> ngCloud
      </a>
      <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed" data-toggle="collapse" [attr.aria-expanded]="!isCollapsed" aria-controls="navbarSupportedContent">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngbCollapse]="!isCollapsed">
          <div class="navbar-nav mr-auto">
            <a class="nav-item nav-link" [routerLink]="['files']" [routerLinkActive]="['active']">
              Files
            </a>
            <a class="nav-item nav-link" [routerLink]="['account']" [routerLinkActive]="['active']">
              Account
            </a>
          </div>
          <div class="navbar-nav">
            
            <a class="nav-item nav-link user-a" *ngIf="loggedIn">
              <i class="fa fa-user"></i>
              {{ user.firstName }}
            </a>
            <a class="nav-item nav-link logout-a" (click)="authService.logout()" *ngIf="loggedIn">
              Logout
            </a>

            <a class="nav-item nav-link" *ngIf="!loggedIn" [routerLink]="['login']" [routerLinkActive]="['active']">
                Login
            </a>
            <a class="nav-item nav-link" *ngIf="!loggedIn" [routerLink]="['register']" [routerLinkActive]="['active']">
                Register
            </a>                        
          </div>
        </div>      
  </div>
</nav>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#">
          <img src="../../../assets/images/cloud.png" alt="logo" style="width:30px;"> ngCloud
        </a>
        </div>
</nav>