<header class="py-2 bg-dark text-white">
    <div class="container">
      <div class="row">
        <div class="col">
          <h4 class="display-4"><i class="fa text-info"></i> Files</h4>
        </div>
      </div>
    </div>
  </header>